{% set home = load_data(path="static/icons/home.svg") %}
{% set rss = load_data(path="static/icons/rss.svg") %}

<nav class="social-icons">
    <ul>
        <li>
            <a class="icon" href="/" title="返回首页" aria-label="返回首页">
                {{ home | safe }}
            </a>
        </li>
        <li>
            <a class="icon" href="/rss.xml" title="RSS订阅" aria-label="RSS订阅">
                {{ rss | safe }}
            </a>
        </li>
        <li class="last-updated">
            <small style="color: var(--meta-color); opacity: .6; margin-left: 8px; font-size: .75em; line-height: 1.2">
                {{ now() | date(format="%Y-%m-%d") }}
            </small>
        </li>
    </ul>
</nav>