{% set home = load_data(path="static/icons/home.svg") %}
{% set github = load_data(path="static/icons/github.svg") %}
{% set twitter = load_data(path="static/icons/twitter.svg") %}
{% set mastodon = load_data(path="static/icons/mastodon.svg") %}
{% set rss = load_data(path="static/icons/rss.svg") %}
{% set search = load_data(path="static/icons/search.svg") %}

<nav class="social-icons">
    <ul>
        <li>
            <a class="icon" href="/" title="Go to homepage" aria-label="Go to homepage">
                {{ home | safe }}
            </a>
        </li>
        <li>
            <a class="icon" href="#" title="微信公众号" aria-label="微信公众号">
                {{ github | safe }}
            </a>
        </li>
        <li>
            <a class="icon" href="#" title="微博"
                aria-label="微博">
                {{ mastodon | safe }}
            </a>
        </li>
        <li>
            <a class="icon" href="#" title="豆瓣"
                aria-label="豆瓣">
                {{ twitter | safe }}
            </a>
        </li>
        <li>
            <a class="icon" href="/rss.xml" title="RSS feed"
                aria-label="RSS feed">{{ rss | safe }}</a>
        </li>
        <li class="last-updated">
            <small style="color: var(--meta-color); font-size: 0.75em; opacity: 0.6; line-height: 1.2; margin-left: 8px;">
                {{ now() | date(format="%Y-%m-%d") }}
            </small>
        </li>
    </ul>
</nav>